@font-face {
    font-family: 'CustomFont';
    src: url("Fonts/Brush\ King.otf") format('opentype');
}
@font-face {
    font-family: 'NumbersFont';
    src: url('Fonts/Brushield.otf') format('opentype')
}

:root{
    --bcg-page- : #eeeeee;
    --cards-btns : white;
    --text-color- : #23242D;
    --shadows-color- : rgba(0,0,0,40%);
    --border-currentplayer-color : #D6EBFF;
}

/* INICIAL STAT OF PAGE */
*{
    font-family: 'CustomFont',sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--text-color-);
}

.wrapper{
    background-color: var(--bcg-page-);
    height: 100vh;
    /* display: none; */
}

/* HEADER CONTAINER STYLING */
.header{
    text-align: center;  
    font-size: 3rem;  
    height: 10vh;
}
.header-markO,
.header-markX{
    font-size: 1.5rem;
    height: 60px;
}

/*                                        MAIN CONTAINER ONLY STYLING */
.main-container{
    height: 88vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -2rem;
}


/* CARDS ONLY STYLING */
.cardO,
.cardX{
    height: 470px;
    width: 350px;
    background-color: var(--cards-btns);
    border-radius: 2rem;
    box-shadow:  0px 6px 4px 0px var(--shadows-color-);
}

/* GIFS CONTAINERS STYLING */
.gif-containerO,
.gif-containerX{
    height: 350PX;
}
/* GIFS STYLING SIZE */
.gif-player,
.gif-bot{
    width: 350px;
    height: 350px;
}

/* HEADER  CARDS CONTAINER STYLING ONLY */
.headerO,
.headerX{
    text-align: center;
}

/* HEADER CARDS CONTENT STYLING */
h3{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}
/* BTNS CONTAINERS STYLING */
.btns-cardO-container,
.btns-cardX-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* BTNS PLAYERS AND BOT STYILING  */
.cardO-bot-btn,
.cardO-player-btn,
.cardX-bot-btn,
.cardX-player-btn{
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    width: 175px;
    height: 60px;
    cursor: pointer;
}
.cardO-bot-btn,
.cardX-bot-btn{
    border-radius: 0 0 2rem 0;
}
.cardO-player-btn,
.cardX-player-btn{
    border-radius: 0 0 0 2rem;
}

/* VISUAL STYLING WHEN CLICK BTNS PLAYERS */
.active1{
    margin-top: -7px;
    box-shadow: inset -2px 4px 4px 2px rgba(0,0,0,40%);
    transform: translate(0px, 4px);
    
}
/* VISUAL STYLING WHEN CLICK BTNS PLAYERS */
.active2
{
    margin-top: -7px;
    box-shadow: inset 2px 4px 4px 2px rgba(0,0,0,40%);
    transform: translate(0px, 4px);
}

/* CONTAINER VS AND START GAME BTN */
.container-agaisnt-start{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 350px;
}
.header-vs{
    text-align: center;
}
.vs-text{
    font-size: 6rem;
}
.container-btn-startGame{
    width: 350px;
    text-align: center;
    
}
.startGame{
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: var(--cards-btns);
    border: none;
    box-shadow:  0px 6px 4px 0px var(--shadows-color-);
    
}
/* BUTTON START GAME BEHAVIOR WHEN ACTIVE */
.startGame:active{  
    box-shadow: none;
    transform: translate(5px, 5px);
    cursor: pointer;
}
.startGame:hover{
    transform: translateY(-4px);
    transition: transform 0.1s ease;
    cursor: pointer;
}

/* CLASS FOR INPUT CREATED IN JS */
.inputsStyling{
    width: 350px;
    height: 60px;
    border: none;
    border-radius: 0 0 24px 24px;
    outline: none;
    text-align: center;
}
/*                                      FOOTER                              */
.footerHomePage{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1rem;
}


                /*  GAME PAGE  */
.gamePageWrapper{
    background-color: var(--bcg-page-);
    height: 100vh;
    display: none;
}
.btnContainer{
    height: 10vh;
    display: flex;
    align-items: center;
}
.returnBtn{
    margin-left: 1rem;
    border-radius: 24px;
    width: 8rem;
    height: 2.5rem;
    font-size: .8rem;
    background-color: var(--cards-btns);
    border: none;
    box-shadow:  0px 6px 4px 1px var(--shadows-color-);
    cursor: pointer;
}

.playerXContainer,
.playerOContainer,
.playersWrapper{
    display: flex;
}
.playersWrapper{
    width: 50%;
    height: 20vh;
    margin: auto;
    justify-content: space-evenly;
}

.playerOContainer,
.playerXContainer{
    padding: 0px 1.5rem 0 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 4rem;
}

.borderCurrentPlayer{
    background-color: var(--border-currentplayer-color);
    border-radius: 40px;
    box-shadow:  0px 0px 16px 4px rgba(214,235,255,100%);
}
.borderPlayerWaiting{
    border-radius: 40px;
    background-color: var(--cards-btns);
    box-shadow:  0px 4px 4px 0px var(--shadows-color-);
}

.playerXName,
.playerOName{
    height: 3rem;
    font-size: 1.2rem;
    
}
.playerOScore,
.playerXScore{
    height: 3rem;
    font-size: 3rem;
    font-family: NumbersFont, sans-serif;
    margin-left: .5rem;
}
.trophyPlayerX,
.trophyPlayerO{
    width: 75px;
    height: 75px;
    display: none;
}
.gameBoard{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, minmax(75px,125px));
    grid-template-rows: repeat(3, minmax(75px,125px));
    justify-content: center;
    align-content: center;
    gap: 1rem;
}
.gameCards{
    background-color: var(--cards-btns);
    border-radius: 24px;
}
.gameCards:hover{
    box-shadow:  0px 4px 4px 0px var(--shadows-color-);
    transform: translateY(-6px);
    transition: transform 0.1s ease;
}
.footer{
    font-size: 0.6rem;
    padding-bottom: 1rem;
    text-align: center;
    height: 20vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
}

/* CLASSES TO HANDLE PREVIEW PLAYERS MOVES */
.preview-x, 
.preview-o{
    opacity: 0.85;
    color: var(--border-currentplayer-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}