@font-face {
    font-family: 'TicTacToeGame';
    src: url('Assets/Hey\ August.otf');
}
/* INICIAL STAT OF PAGE */
*{
    padding: 0;
    margin: 0;
    font-size: 15px;
    border: 1px solid black;
}

